.terrain { margin:1em auto; border-collapse:collapse }
.terrain td {
    width:5px; height:5px;
    border:1px solid #ddd;
}
.terrain td.forest {
    background-color:#00e600;
}
.terrain td.cold {
    background-color:#00ffff;
}
.terrain td.desert {
    background-color:#ffff00;
}
.sea td {
    background-color:#0000cc;
}