.terrain { margin:1em auto; border-collapse:collapse }
.terrain td {
    width:5px; 
    height:5px;
    border:1px solid #ddd;
}
.terrain.filledsea td {
    background-color:#00e600;
    border:0;
}
.terrain td.sea {
    background-color:#0000cc;
    border:0;
}
.terrain td.forest {
    background-color:#00e600;
    border:0;
}
.terrain td.cold {
    background-color:#00ffff;
    border:0;
}
.terrain td.desert {
    background-color:#ffff00;
    border:0;
}
